* {
	margin: 0;
	padding: 0;
}

html {
	background-image: url('beatpad.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	font-family: 'Roboto', sans-serif;	
	background-position: center;	
}



.keys {
	display: flex;
	flex: 1;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
}

.key {
	width: 7rem;
	height: 3rem;
	display: flex;
	flex-direction: column;
	background-color: #ca4538;
	margin: 1rem;
	padding: .3rem 0;
	transition: .09s;
}

kbd {
	text-align: center;
	margin-bottom: .3rem;
}

span {
	text-align: center;
	text-transform: uppercase;
}

.playing {
	background-color: #d42e1e;
	-moz-box-shadow:    3px 3px 5px 6px #ccc;
  	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
  	box-shadow:         3px 3px 5px 6px #ccc;
}



@media screen and (max-width: 1024px) {

	.keys {
		display: flex;
		flex-wrap: wrap;
		min-height: 0;
		justify-content: center;
		margin-top: 20%;
	}

	.key {
		width: 170px;
		height: 150px;
		display: flex;
		flex-direction: column;
		background-color: #ca4538;
		margin: 2rem;
		padding: .3rem 0;
		transition: .09s;

	}

	kbd {
		margin-top: .8rem;
		text-align: center;
		margin-bottom: .3rem;
		font-size: 3rem;
	}

	span {
		text-align: center;
		text-transform: uppercase;
		margin-top: .5rem;
		font-size: 1.5rem;
	}

	.playing {
		border: 1px solid red;
	}	

}

@media screen and (max-width: 500px) {

	html {	
		background-position: center;		
	}	

	.keys {
		display: flex;
		flex-wrap: wrap;
		min-height: 0;
		justify-content: center;
		margin-top: 5%;
	}

	.key {
		width: 130px;
		height: 60px;
		display: flex;
		flex-direction: column;
		background-color: #ca4538;
		margin: 1.5rem;
		padding: .3rem 0;
		transition: .09s;

	}

	kbd {
		margin-top: .3rem;
		text-align: center;
		margin-bottom: .3rem;
		font-size: 1.2rem;
	}

	span {
		text-align: center;
		text-transform: uppercase;
		font-size: 1rem;
		margin-top: .3rem;
	}

	.playing {
		border: 1px solid red;
	}	

}

@media screen and (max-width: 320px) {

	.keys {
		margin-top: 2%;
	}
	
	.key {
		width: 100px;
		height: 55px;
		display: flex;
		flex-direction: column;
		background-color: #ca4538;
		margin: 1.5rem;
		padding: .3rem 0;
		transition: .09s;

	}

	kbd {
		margin-top: .3rem;
		text-align: center;
		margin-bottom: .3rem;
		font-size: 1.2rem;
	}

	span {
		text-align: center;
		text-transform: uppercase;
		font-size: 1rem;
		margin-top: .3rem;
	}
}

















